<% layout("/layouts/boilerplate") %>

<style>
    .editListing{
        width: 600px;
    }
</style>
    <body>
        <div class="row mt-3">
            <div class="editListing col-10 mx-auto my-0">
                <h3>Edit your Listing</h3>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control"
                            required placeholder="title">
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Title must be needed</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description: </label>
                        <textarea type="text" name="listing[description]" value="" class="form-control" required
                            placeholder="description"><%= listing.description %></textarea>
                            <div class="invalid-feedback">Enter short message</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image: </label>
                        <input type="file" name="listing[image]" class="form-control"
                            placeholder="image URL/LINK">
                    </div>

                    <div class="mb-3">
                        <p>Original listing Image:</p>
                        <img src="<%= originalImageUrl %>" class="card-img-top w-25" alt="listing image">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price: </label>
                            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control"
                                required placeholder="price">
                                <div class="invalid-feedback">Price should be valid</div>    
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Locaiton</label>
                            <input type="text" name="listing[location]" value="<%= listing.location %>"
                                class="form-control" required placeholder="enter loaction">
                                <div class="invalid-feedback">Location should be valid</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country: </label>
                        <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control"
                            required placeholder="country">
                            <div class="invalid-feedback">Country should be valid</div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark">Edit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </body>